.main-page {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 1rem;
    align-content: center; 

    .user-card {
        padding: 10px;
        cursor: pointer;
        display: grid;
        gap: 1rem;
        grid-template-columns: min-content 1fr;

        .caption {
            margin: 0;
            font-size: 15px;
            font-weight: 700;
            text-decoration: none !important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            align-self: center;
        }
    }
}