.user-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-container {
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 100%;
        margin: 0 20px;
        max-width: 500px;

        .avatar {
            flex-shrink: 0;
        }

        .description {
            align-self: start;
            overflow: hidden;
            width: 100%;

            h2, h4 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }   

    .back-button {
        align-self: flex-start;
    }
}